<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/css/bootstrap-select.min.css">
            <link rel="stylesheet" type="text/css" href="{{ asset("css/meeva.css") }}">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block nav %}
                {% include "nav/nav.html.twig" %}
            {% endblock %}
            {% block body %}{% endblock %}
        </div>
        {% include "selfpromo.html.twig" %}
        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/js/bootstrap-select.min.js"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            
            <script>
                $('[data-toggle="tooltip"]').tooltip();
                $('select').selectpicker();
            </script>
            <script>
        $("#loginForm").submit(function(e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            
            var form = $(this);
            console.log(form);
            $(form).find("input").removeClass("is-invalid");
            const button = $(form).find("button");
            console.log(button);
            button.innerHTML = "BBBB ";
            //button.HTML("<i class='fas fa-spinner fa-pulse'></i>");
            var url = form.attr('action');

            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                success: function(data)
                {
                    button.innerHTML = "BBBB ";
                    data = JSON.parse(data);
                    console.log(data);
                    switch (data['error'])
                    {
                        case "success":
                            window.location.href = "{{ path('food') }}";
                            break;
                        case "Kein Konto":
                            $(form).find("#inputEmail").addClass("is-invalid");
                            break;
                        case "Passwort falsch":
                            $(form).find("#inputPassword").addClass("is-invalid");
                            break;
                        case "Namen fehlen":
                            alert("Bitte Vor- und Nachname bei Mattermost angeben");
                            break;
                        default:

                            $(form).find("input").addClass("is-invalid");
                            break;
                    }
                }
            });
        });
    </script>
        {% endblock %}
    </body>
</html>
