{# templates/index.base.html.twig #}
{% extends'base.html.twig' %}

{% block title %}
    MEEVA
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
{% endblock %}

{% block body %}
    
    <div class="title col">
        <h1 class="d-none d-lg-flex">Ich entwickel' die L&ouml;sung f&uuml;r eure digitale Essensbestellung.*</h1>
        <h2 class="d-none d-lg-flex"> <small class="text-muted">*Ich versuch's zumindest.</small> </h2>
        <h1 class="d-lg-none">Ich entwickel' die L&ouml;sung f&uuml;r eure digitale Essensbestellung.*</h1>
        <h2 class="d-lg-none"> <small class="text-muted">*Ich versuch's zumindest.</small> </h2>
    </div>
    
{% endblock %}