<link rel="stylesheet" type="text/css" href="{{ asset('css/self.css') }}">
<div class="selfpromo">
    <div class="flashing ">
        <a class="stretched-link drop" data-toggle="dropdown">

        </a>
        <div class="dropdown-menu bg-dark text-white" aria-labelledby="dropdownMenuButton">
            <div class="px-2 text-center">
                <div class="text-center mb-1">Garbage <span class="text-left font-weight-light text-muted"><i>made by</i></span></div>

                <img src="{{ asset('media/NotLikeThis.gif') }}" class="profpic rounded">
                <div class="text-white mt-1">Niikolajj</div>
                <div class="credits text-white font-weight-light mt-1" style="font-size:0.8em">
                    Credits
                    <ul class="pl-0 mt-1" style="list-style-type:none; columns:3">
                        <li data-toggle="tooltip" data-placement="top" title="Hilfe & Feedback">Alex</li>
                        <li data-toggle="tooltip" data-placement="top" title="Javascript Cloning">Benedict</li>
                        <li data-toggle="tooltip" data-placement="top" title="Alpha Test & Feedback">Charlene</li>
                        <li data-toggle="tooltip" data-placement="top" title="Feedback">Denise</li>
                        <li data-toggle="tooltip" data-placement="top" title="Alpha Test & Feedback">Lars</li>
                        <li data-toggle="tooltip" data-placement="top" title="Javascript/Jquery">Laurens</li>
                        <li data-toggle="tooltip" data-placement="top" title="Hilfe & Feedback">Manuel</li>
                        <li class="font-weight-normal" data-toggle="tooltip" data-placement="top" title="UI/UX Rework & Feedback">Nadine</li>
                        <li data-toggle="tooltip" data-placement="top" title="Javascript/Jquery">Pascal</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>