<link rel="stylesheet" type="text/css" href="{{ asset('css/self.css') }}">
<div class="selfpromo">
    <div class="flashing ">
        <a class="stretched-link drop" data-toggle="dropdown">

        </a>
        <div class="dropdown-menu bg-dark text-white" aria-labelledby="dropdownMenuButton">
            <div class="px-2 text-center">
                <div class="text-center mb-1">Garbage <span class="text-left font-weight-light text-muted"><i>made by</i></span></div>

                <img src="{{ asset('media/NotLikeThis.gif') }}" class="profpic rounded">
                <div class="text-white mt-1">Niikolajj</div>
            </div>
        </div>
    </div>
</div>