<link rel="stylesheet" type="text/css" href="/css/self.css">
<div class="selfpromo">
    <div class="flashing ">
        <a class="stretched-link drop" data-toggle="dropdown">

        </a>
        <div class="dropdown-menu bg-dark text-white" aria-labelledby="dropdownMenuButton">
            <div class="px-2 text-center">
                <div class="text-center mb-1">Garbage <span class="text-left font-weight-light text-muted"><i>made by</i></span></div>

                <img src="/media/NotLikeThis.gif" class="profpic rounded">
                <a class="dropdown-item text-white" href="#">Niikolajj</a>
                <ul class="list-inline mb-1">
                    <li class="list-inline-item bg-primary rounded-circle px-1 mr-1"><a href="niikolajj.gitlab.io"><i class="fas fa-home text-white"></i></a></li>
                    <li class="list-inline-item bg-primary rounded-circle px-1 mr-1"><a href="twitter.com/niikolajj"><i class="fab fa-twitter text-white"></i></a></li>
                    <li class="list-inline-item bg-primary rounded-circle px-1 mr-1"><a href="github.com/niikolajj"><i class="fab fa-github-alt text-white"></i></a></li>
                    <li class="list-inline-item bg-primary rounded-circle px-1 "><a href="last.fm/user/niikolajj"><i class="fab fa-lastfm text-white"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>